@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem-Vindo(a)!</h1>
    <p>Veja mais<a href="https://loja.flowpodcast.com.br"> onde comprar meus produtos do FlowPodcast</a>!</p>
</div>
